version: "3"

services:
  backend:
    build:
      context: backend/
      dockerfile: Dockerfile.dev
    restart: unless-stopped
    container_name: backend
    command: bash -c "python manage.py collectstatic --noinput && python manage.py migrate && gunicorn semctra.wsgi -b 0.0.0.0:8000"
    volumes:
      - staticfiles_folder:/app/staticfiles
    networks:
      - net-backend
    environment:
      JITSI_APP_ISSUE: ${JITSI_APP_ISSUE}
      JITSI_APP_SECRET: ${JITSI_APP_SECRET}

  web:
    build:
      context: web/
      dockerfile: Dockerfile.dev
      args:
        API_BASE_URL: ${API_BASE_URL}
        VUE_APP_JITSI_SCRIPT_URL: ${JITSI_SCRIPT_URL}
        VUE_APP_JITSI_DOMAIN_URL: ${JITSI_DOMAIN_URL}
    container_name: web
    depends_on:
      - backend
    volumes:
      - build_folder:/frontend/dist
    networks:
      - net-web

  server:
    image: nginx:latest
    restart: unless-stopped
    ports:
      - 80:8080
    container_name: server
    volumes:
      - ./server/nginx-proxy.conf:/etc/nginx/conf.d/default.conf:ro
      - ./server/proxy_params:/etc/nginx/proxy_params
      - staticfiles_folder:/app/staticfiles
      - build_folder:/var/www/frontend
    depends_on:
      - backend
      - web
    networks:
      - net-backend
      - net-web

volumes:
  build_folder:
  staticfiles_folder:

networks:
  net-backend:
  net-web:
